@model int
@{
    Layout = string.Empty;

    var statusMessage = string.Empty;
    switch (Model) {
        case 400:
            statusMessage = "Bad request: The request cannot be fulfilled due to bad syntax.";
            break;
        case 403:
            statusMessage = "Forbidden.";
            break;
        case 404:
            statusMessage = "Page not found.";
            break;
        case 408:
            statusMessage = "The server timed out waiting for the request.";
            break;
        case 500:
            statusMessage = "Internal Server Error - server was unable to finish processing the request.";
            break;
        default:
            statusMessage = "That’s odd... Something we didn't expect happened.";
            break;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model Error Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/Ionicons/css/ionicons.css" rel="stylesheet" />
        <link href="~/vendors/AdminLTE/css/_imports.css" rel="stylesheet" />
        <link href="~/vendors/AdminLTE/css/AdminLTE.css" rel="stylesheet" />
        <link href="~/lib/iCheck/skins/square/_all.css" rel="stylesheet" />
        <link href="~/vendors/iCheck/square.override.css" rel="stylesheet" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="~/lib/html5shiv/dist/html5shiv.js" type="text/javascript"></script>
            <script src="~/lib/respond/src/respond.js" type="text/javascript"></script>
        <![endif]-->
    </environment>

    <environment names="Staging,Production">
        <link href="~/assets/css/skeleton.minimal.min.css" rel="stylesheet" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="~/assets/js/ie8html5support.min.js" type="text/javascript"></script>
        <![endif]-->
    </environment>

    <style type="text/css">
        div.content-wrapper {
            margin-left: 0;
        }

        footer.main-footer {
            margin-left: 0;
        }
    </style>
</head>
<body>
    <div class="wrapper">

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @Model Error Page
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Error</a></li>
                    <li><a href="#">Status Code</a></li>
                    <li class="active">@Model error</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="error-page">
                    <h2 class="headline text-red">@Model</h2>

                    <div class="error-content">
                        <h3><i class="fa fa-warning text-red"></i> Oops! Something went wrong.</h3>

                        <p>
                            @statusMessage
                        </p>

                        <p>
                            We will work on fixing that right away.
                            Meanwhile, you may <a href="/Home/Index">return to home</a> or try using the search form.
                        </p>

                        <form class="search-form">
                            <div class="input-group">
                                <input type="text" name="search" class="form-control" placeholder="Search">

                                <div class="input-group-btn">
                                    <button type="submit" name="submit" class="btn btn-danger btn-flat">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- /.input-group -->
                        </form>
                    </div>
                </div>
                <!-- /.error-page -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.3.8
            </div>
            <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
            reserved.
        </footer>
    </div>
    <!-- ./wrapper -->
    <environment names="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="~/lib/iCheck/icheck.js"></script>
        <script type="text/javascript" src="~/src/js/checkbox.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/assets/js/skeleton.minimal.min.js"></script>
    </environment>
</body>
</html>