@{ ViewData["Title"] = "Sample"; }

@section Styles {
    <link href="~/src/css/tokenfield.css" rel="stylesheet" />
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Sample
        <small>Sample Page</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Sample</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="form-group">
            <input type="text" name="tokenfield" class="form-control input-lg" value="" data-tokenfield />
        </div>

        <div class="form-group has-feedback">
            <input type="email" class="form-control input-lg" placeholder="@T["Email"]" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
    </div>
    <!-- /.row (main row) -->
</section>
<!-- /.content -->

@section Scripts {

    <script src="~/lib/bootstrap-tokenfield/dist/bootstrap-tokenfield.js"></script>
    <script src="~/lib/typeahead.js/dist/typeahead.jquery.js"></script>
    <script>
        (function ($) {
            // Just checking...
            if (!$.fn.tokenfield) { throw 'Requires Bootstrap Tokenfield.'; }
            if (!$.fn.typeahead) { throw 'Requires Twitter Typeahead.'; }

            if ($.fn.tokenfield && $.fn.typeahead) {
                $('input[data-tokenfield]').each(function (idx, element) {
                    $(element).tokenfield({
                        typeahead: [null, {
                            source: function (query, process, processAsync) {
                                $.ajax({
                                    url: '',
                                    dataType: 'json',
                                    method: 'POST',
                                    data: { query: query },
                                    success: function (data) {
                                        processAsync(data);
                                    }
                                });
                            },
                            display: function (data) { return ''; },
                            templates: {
                                empty: [
                                    '<div class="empty-message">',
                                        'Não foi possível localizar nenhum registro para o termo buscado.',
                                    '</div>'
                                ].join('\n'),
                                suggestion: function (data) {
                                    return [
                                        '<div class="suggestion-message">',
                                            data.label,
                                        '</div>'
                                    ].join('\n');
                                }
                            }
                        }],
                        showAutocompleteOnFocus: false,
                        delimiter: ';'
                    });
                });
            };
        })(jQuery);
    </script>
}