.user-management-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

    .user-management-logo a {
        color: #444;
    }

.user-management-page {
    background: #d2d6de;
}

.user-management-box {
    width: 360px;
    margin: 7% auto;
}

@media (max-width: 768px) {
    .user-management-box {
        width: 90%;
        margin-top: 20px;
    }
}

.user-management-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

    .user-management-box-body .form-control-feedback {
        color: #777;
    }

.user-management-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}